{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Parte 2 - Instrucciones (1/3)
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function(event) {
            history.go(1);
        };
    </script>
{% endblock %}

{% block styles%}
    <style type="text/css">
        .controls label {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <p>Ahora vas a empezar la segunda parte del experimento. En primer lugar, vamos a familiarizarnos con las dos funciones de esta parte del estudio: <em>Kunden</em> und <em>Finanzberater</em>.</p>

    <p><strong>Clientes</strong></p>
    <p>In der Rolle des Kunden besitzen Sie {{ Constants.endowment_principals }}, que se van a invertir. Por lo tanto, se pone en contacto con un asesor financiero al que le dice cómo debe ser la decisión de inversión para usted. Para ello, seleccione una de las cinco estrategias de inversión que ya conoció en la primera parte. Al final, usted, como cliente, recibe el resultado de la inversión realizada para usted en forma de pago. A continuación, puede enviar a su asesor financiero uno de los cuatro mensajes predefinidos en los que expresa su satisfacción o insatisfacción con su decisión.</p>
    
    <p><strong>Asesor financiero</strong></p>
    <p>En el papel de asesor financiero, usted toma la decisión de inversión para cinco clientes. Para ello, recibe un mensaje de cada uno de sus clientes en el que se indica qué estrategia de inversión debe seguirse para ellos. Sin embargo, como asesor financiero, usted no está obligado a respetar estos avisos, sino que es libre de tomar sus propias decisiones. 

    {% if player.compensation == "fixed" %}
        Al final, como asesor financiero, recibirá una cantidad fija de {{ Constants.fixed_payment }} como pago.

    {% elif player.compensation == "variable_result" %}
        Una vez tomada la decisión de invertir, uno de los clientes pasa a ser relevante para que usted pague. 
        Como asesor financiero, recibirá una cantidad fija de {{ Constants.fixed_payment }} y un porcentaje del resultado de la inversión del cliente seleccionado como pago. 

    {% elif player.compensation == "variable_profit" %}
        Una vez tomada la decisión de invertir, uno de los clientes pasa a ser relevante para que usted pague. 
        Como asesor financiero, recibirá una cantidad fija de {{ Constants.fixed_payment }} y un porcentaje de las ganancias positivas del cliente seleccionado como pago.

    {% endif %}

    Recibirá el mensaje seleccionado por el cliente que ha realizado el desembolso sobre su satisfacción o insatisfacción con su decisión.</p>
    

    <p><strong>Preguntas de control</strong></p>
     {% formfield player.question_1 label="Como asesor financiero, usted decide qué proporción de los 10 euros de su cliente se invierte en el activo de riesgo." %}
    
     {% if player.compensation == "fixed" %}
        {% formfield player.question_2 label="Como asesor financiero, su remuneración depende del resultado de la inversión para sus clientes." %}
    {% elif player.compensation == "variable_result" %}
        {% formfield player.question_2 label="Como asesor financiero, sólo recibirá una cantidad fija como pago." %}
    {% elif player.compensation == "variable_profit" %}
        {% formfield player.question_2 label="Como asesor financiero, sólo recibirá una cantidad fija como pago." %}
    {% endif %}
    

    <div align="right">{% next_button %}</div>

{% endblock %}